<html>
  <head>
    <meta charset='UTF-8' />
    <title>Welcome to MeFriend Events</title>
  </head>
  <body>
    <p>Welcome to MeFriend Events!</p>
    <p>Thank you for registering with us. Below are your account details:</p>
    <p><strong>Username:</strong> {{username}}</p>
    <p><strong>Password:</strong> {{password}}</p>
    <p>Please keep your username and password secure. You can use these
      credentials to log in to your MeFriend Events account and start exploring
      our exciting events.</p>
    <p>If you have any questions or need assistance, feel free to contact our
      support team at support@mefriendevents.com.</p>
    <p>We're excited to have you as part of our community and look forward to
      sharing amazing events with you!</p>
    <p>Best regards,</p>
    <p><b>MeFriend Events</b></p>
  </body>
</html>